// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  font-family: $proxima;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
}

h1 { font-size: 3.6rem; line-height: 1.17; }
h2 { font-size: 2.8rem; line-height: 1.143; }
h3 { font-size: 1.8rem; line-height: 1.3333; }
h4 { font-size: 1.8rem; line-height: 1.3333;  font-weight: 700; color: $red;}
h5 { font-size: 1.4rem; line-height: 1.286; font-weight: 400; color: black;}
h6 { font-size: 1.4rem; line-height: 1.428; font-weight: 100; font-weight: 700; }

 
p {
  font-size: 1.4rem;  
  line-height: 1.428; 
  font-weight: 400; 
  margin-top: 0;
  margin-bottom: 1.8rem;
}

.page-content,.project-info{
	li{
		list-style-type: circle;
		margin-left: 20px;
	}

}