//HEADER 
.logo{
    img{
        max-width: 100%;
    }
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 30px 0 0 0;
    max-width: 230px;
}


//HOMEPAGE ---------- 
.home-callout{
    font-size: 7.2rem;
    line-height: 1.17;
    color: white;
    font-weight: 400;
    border-bottom: 4px solid $red;
    margin-top: 21.5rem; 
    text-transform: uppercase;
}


.full-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: calc(100vh);
    display: table;
    width: 100%;
    top: 0px;
    z-index: 1;
 
}

main{
    background-color: $red;
}
.landing-wrapper{

}

//Landing Blocks
.landing-block {
    position: relative;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
   
}
.landing-block img {
    display: block;
   // max-width: 100%;
}
.landing-block .hover-text{
    opacity: 0;
    display:table;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    color: #ffffff;
    background: $red;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;

     & a{
        color: $white;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            border-bottom: 1px solid white;
        }
    }
    padding: 40px 25px 30px 25px;

    &.show-text{
        opacity: 1;
    }

}
.landing-block:hover .hover-text {
    opacity: 1;
    background-color: $red;
    z-index: 100;
}

.sub-text{
    display: block;
    width: 100%;
    font-size: 2.8rem; 
    line-height: 1.143;
     color: $white;
     font-weight: 100; 
}
.large-text{
   
    font-size: 6.4rem;
    line-height: 1.1875;
     font-weight: 100; 
}

//SINGLE PROJECT BLOCK
.project-block{
    display:table;
    //align-items:center;
    color: $white;
    background-color: $red;
    height: calc(50vh);
    margin-top: calc(25vh);
    margin-bottom: calc(25vh);
    padding:  25px;
}

.middle{
    display:table-cell;vertical-align:middle;
}

.white-bg{
    background-color: white;
}

.project-content{
    margin-top: calc(100vh);
    padding: 20px 0 20px 0;
}
